<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ef137c27-3874-439c-b322-78bbc72f0820/resourceGroups/BlipChallenge/providers/Microsoft.Web/sites/BlipChallengeApi</ResourceId>
    <ResourceGroup>BlipChallenge</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blipchallengeapi-eqd8e3d4g2e6bfay.canadaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>840c9480-ed93-4b1d-b657-c7a0a7f94619</ProjectGuid>
    <PublishUrl>https://blipchallengeapi-eqd8e3d4g2e6bfay.scm.canadaeast-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <ApiResourceId>/subscriptions/ef137c27-3874-439c-b322-78bbc72f0820/resourceGroups/BlipChallenge/providers/Microsoft.ApiManagement/service/BlipChallengeApiapi/apis/BlipChallengeApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>